<!DOCTYPE html>
<html>
	<meta http-equiv="refresh" content="5"/>
	<body>
		<h1>Subscribed to CDC AccountChangeEvent channel:</h1>
		<ul th:each="record : ${records}">
			<li th:text="${record}"/>
		</ul>
	</body>
</html>
